---
layout: page
title: "Parte 1"
permalink: /1parte/
---

{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <h2 id="{{cat}}">{{ cat | capitalize }}</h2>
  {% for desc in site.descriptions %}
    {% if desc.cat == cat %}
      <p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
  {% endfor %}
  <ul class="posts-list">
  {% for post in site.categories[cat] %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date_to_long_string }}</span>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>


<h2 id="{{cat}}">Teste</h2>
  
      <p class="desc"><em>Aula</em></p>
 
  
 <br>

 <h2 id="{{cat}}">Teste1</h2>
  
      <p class="desc"><em>Aula1</em></p>
 
  <ul class="posts-list">
   <li>
      <strong>
				<link href="/blob/master/_posts/Redes_Neurais.html" rel="stylesheet">
        <a href="http://rawgit.com/EduardoLEG/ML4all/blob/master/_posts/Redes_Neurais.html">Teste20</a>
				<a href="http://htmlpreview.github.io/?https://github.com/EduardoLEG/ML4all/blob/master/_posts/Redes_Neurais.html">Teste21</a>
      </strong>
    </li>
  </ul>
 <br>
