---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>


<div class="wrapper">	

<hr>

<h1 id="list_types">Programa do curso</h1>

<hr>
	
<h3>Introdução</h3>
  <ul>
  <li>Machine Learning na prática;</li>
  <li>Aprendizado supervisionado e não supervisionado;</li>
  <li>Função custo;</li>
  </ul>

<h3>Métodos de reamostragem</h3>
  <ul>
  <li>Estimando o erro de previsão;</li>
  <li>Validação cruzada;</li>
  <li>Bootstrap.</li>
  </ul>
	
<h3>Gradiente descendente</h3>
  <ul>
  <li>Batch;</li>
  <li>Stochastic;</li>
  <li>Boosting.</li>
  </ul>
	
<h3>Regularização</h3>
  <ul>
  <li>Regressão Ridge;</li>
  <li>Regressão Lasso;</li>
  <li>Horseshoe;</li>
	<li>Elastic net.</li>
  </ul>
	
<h3>Classificação</h3>
  <ul>
  <li>Regressão logística;</li>
  <li>Análise de discriminante linear;</li>
  <li>Análise de discriminante quadrática;</li>
  <li>Naive Bayes.</li>
  </ul>
	
<h3>Métodos baseados em árvores</h3>
  <ul>
  <li>Árvores de decisão;</li>
  <li>Randon Forest;</li>
  <li>Bootstrap Aggregation (Bagging);</li>
  <li>Boosting.</li>		
  </ul>
	
<h3>Support Vector Machines</h3>
  <ul>
  <li>Maximal Margin Classifier;</li>
  <li>Support vector Classifier;</li>
  <li>Kernels.</li>
  </ul>
	
<h3>Aprendizado não supervisionado</h3>
  <ul>
  <li>Análise de componentes principais;</li>
  <li>K-means Clustering;</li>
  <li>Hierarchical Clustering;</li>
  <li>DBSCAN.</li>		
  </ul>
	
<h3>Redes Neurais Artificiais</h3>
  <ul>
  <li>Introdução;</li>
  <li>Backpropagation algorithm;</li>
  <li>Aplicações.</li>
  </ul>	

<hr>


<form action="https://formspree.io/eduardo.vargas.ferreira1@gmail.com"
      method="POST">
    <input type="text" placeholder="Nome" name="name">
    <input type="email" placeholder="E-mail" name="_replyto">
    <input type="submit" value="Enviar">
</form> 	

<section class="share">
  <span>Share: </span>
  {% for social in site.social %}
    {% capture full_url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
    {% if social.name == "Twitter" and social.share == true %}
      <a href="//twitter.com/share?text={{ page.title | cgi_escape }}&url={{ full_url | cgi_escape}}&via={{social.username}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Facebook" and social.share == true %}
      <a href="//www.facebook.com/sharer.php?t={{ page.title | cgi_escape }}&u={{ full_url | cgi_escape}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Google+" and social.share == true %}
      <a href="//plus.google.com/share?title={{ page.title | cgi_escape }}&url={{ full_url | cgi_escape}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "LinkedIn" and social.share == true %}
      <a href="//www.linkedin.com/shareArticle?mini=true&url={{ full_url | cgi_escape}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Pinterest" and social.share == true %}
      <a href="//www.pinterest.com/pin/create/button/?description={{ page.title | cgi_escape }}&url={{ full_url | cgi_escape}}&media={{ site.url }}{% if page.cover %}{{ page.cover | prepend: site.baseurl  }}{% elsif site.cover %}{{ site.cover | prepend: site.baseurl }}{% else %}{{ site.logo | prepend: site.baseurl }}{% endif %}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Reddit" and social.share == true %}
      <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent('{{ full_url }}') + '&title={{page.title}}'; return false">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Hacker News" and social.share == true %}
      <a href="//news.ycombinator.com/submitlink" onclick="window.location = '//news.ycombinator.com/submitlink?u=' + encodeURIComponent('{{ full_url }}') + '&t={{page.title}}'; return false">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }} fa-lg"></i>
      </a>
    {% endif %}
  {% endfor %}
</section>
	

<h1 id="list_types">Referências Bibliográficas</h1>          

<hr>
	
	<ul>
  <li>James, G., Witten, D., Hastie, T. e Tibshirani, <a href="http://www-bcf.usc.edu/~gareth/ISL/ISLR%20Sixth%20Printing.pdf">An Introduction to Statistical Learning</a>, 2013, <a href="http://blog.princehonest.com/stat-learning">Unofficial Solutions</a>;</li>
  <li>Hastie, T., Tibshirani, R. e Friedman, J., <a href="https://web.stanford.edu/~hastie/Papers/ESLII.pdf">The Elements of Statistical Learning</a>, 2009;</li>
  <li>Lantz, B., <a href="https://www.amazon.com.br/Machine-Learning-R-Brett-Lantz/dp/1782162143">Machine Learning with R</a>, Packt Publishing, 2013;</li>
	<li>Tan, Steinbach, and Kumar, <a href="http://www-users.cs.umn.edu/~kumar/dmbook/index.php">Introduction to Data Mining</a>, Addison-Wesley, 2005.</li>
  </ul>	

<hr>	

 <h1 id="list_types">Data Repositories</h1>          

<hr>
	
	<ul>
  <li><a href="http://www.kaggle.com/">Kaggle</a>;</li>
  <li><a href="http://archive.ics.uci.edu/ml/">UCI Machine Learning Repository</a>;</li>
  <li><a href="http://www.kdnuggets.com/datasets/">KDD Nugets</a>;</li>
	<li><a href="http://cran.r-project.org/web/packages/twitteR/index.html">TwitteR</a>;</li>
  <li><a href="http://cran.r-project.org/web/packages/rfigshare/index.html">rfigshare</a>;</li>
  <li>Open Gov. Data: <a href="http://dados.gov.br/">dados.gov.br</a>, <a href="http://www.data.gov/">www.data.gov</a>, <a href="http://www.data.gov.uk/">www.data.gov.uk</a>.</li>
  </ul>

<hr>
	
</center>	
	
</div>


</div>
