 <footer class="site-footer">

  <div class="wrapper">

    <h3 class="footer-heading">{{ site.title }}</h3>

    <div class="site-navigation">

      <p><strong>LEG/UFPR</strong></p>
      
    </div>

    <div class="site-contact">
	
	<div class="site-contact">
 
       <p><strong>Contato</strong></p>
       <ul class="social-media-list">
       <h3 class="footer-heading">{{ site.title }}</h3>
       </ul>
     </div>
 
    
  <div class="wrapper">

    <h3 class="footer-heading">{{ site.title }}</h3>

    <div class="site-navigation">

      <p><strong>LEG/UFPR</strong></p>
      
    </div>

       
   </div>
 
 </footer>
